* {
    margin: 0;
    padding: 0;
}

.dark {
    color: black;
    background-color: white;
}

.light {
    color: white;
    background-color: black;
}

html,
body {
    height: 100vh;
}

/* p {
    padding: 25px;
} */

ul.part {
    list-style-type: none;
    padding: 1em;
}

ul.part li {
    margin-bottom: 0.2em;
}

p.status {
    position: absolute;
    bottom: 1em;
    padding-left: 1em;
    padding-bottom: 0.3em;
}
